* {
	box-sizing: border-box;
}
body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #f7f7f7;
}
.login-container,
.register-container,
.school-container {
	width: 50%;
	min-height: 100vh;
	max-width: 700px;
	background-color: #f7f7f7;
	margin: auto;
	display: flex;
	align-items: center;
	position: relative;
}
@media (max-width: 800px) {
	.register-container,
	.login-container {
		width: 100%;
		max-width: 700px;
	}
}
